<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mudberry Studio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="Final Logo.jpg" rel="icon">
  {{!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> --}}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>
<body>

  <!-- ======= Header ======= -->
{{>navbar}}

  <!-- ======= hero Section ======= -->
 <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(Final\ Logo.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">We are professional</h2>
                <p class="animate__animated animate__fadeInUp">Welcome to Mudberry Studio, where artistry meets clay. With state-of-the-art facilities and expert instructors, we nurture creativity and skill. Join us in the timeless pursuit of excellence in ceramics. Mudberry Studio – where passion shapes art.</p>
                <a href="/" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(background\ IMG_8486.JPG)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Why Mudberry Studio?</h2>
                <p class="animate__animated animate__fadeInUp">tate-of-the-Art Facilities: Immerse yourself in the world of pottery with our cutting-edge facilities and top-of-the-line equipment.Expert Guidance: Our team of experienced instructors is passionate about helping you develop your skills.</p>
                <a href="/" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(background\ IMG_8483.JPG)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Classes for Every Skill Level</h2>
                <p class="animate__animated animate__fadeInUp">Whether you're taking your first steps in pottery or looking to refine your technique, Mudberry Studio offers a range of classes tailored to different skill levels. From introductory courses to advanced workshops, there's a program for everyone.</p>
                <a href="/" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(background\ IMG_5015.jpg);">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Visit Us Today</h2>
                <p class="animate__animated animate__fadeInUp">Embark on a journey of artistic exploration at Mudberry Studio. Join us in shaping clay, forming connections, and bringing your creative visions to life</p>
                <a href="/" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

          <div class="carousel-item" style="background-image: url(background\ IMG_5010.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">A Diverse Range of Offerings</h2>
                <p class="animate__animated animate__fadeInUp">Choose from a diverse range of classes catering to all skill levels. Whether you're a curious beginner or an experienced potter, our classes are crafted to meet your unique needs and aspirations</p>
                <a href="/" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    {{!-- <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 box">
            <i class="bi bi-briefcase"></i>
            <h4 class="title"><a href="">Lorem Ipsum Delino</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>

          <div class="col-lg-4 box box-bg">
            <i class="bi bi-card-checklist"></i>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>

          <div class="col-lg-4 box">
            <i class="bi bi-binoculars"></i>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>

        </div>
      </div>
    </section><!-- End Featured Services Section --> --}}

    <!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> -->
        </header>
        
        <div class="row about-cols" style="flex-direction: row;">

          

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="IMG_4999.jpg" alt="mentor img" class="img-fluid">
              </div>
              <h2 class="title" style="margin: 10px 0px 20px;">MR.JAYDEEP KOTADIYA</h2>
            </div>
          </div>
          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200" style="width:600px;
          ">
            <p style="font-weight: bolder;   @media (min-width: 766px) and (max-width: 990;); {
              width: 502;}">
              Mr. Jaydeep Kotadiya, an accomplished Ceramic Art teacher, currently holds a position in the sculpture department at Surat College of Fine Art, VNSGU. He earned his bachelor's degree in sculpture and completed his master's in Ceramic from Santiniketan, West Bengal, in 2018. Since then, he has showcased his expertise through various art exhibitions and actively participated in workshops.
              <br>
              <br>
              <br>
With a rich academic background, Mr. Kotadiya holds a Master of Fine Arts (M.F.A.) in Ceramic & Glass from Vishwa Bharti University, Santiniketan. Bringing his passion for ceramic art into education, he has been contributing to the field since 2019. For the past two years, he has served as a Teaching Assistant at Surat College of Fine Art, where he imparts his knowledge and skills to aspiring artists.
              <br>
              <br>
              <br>
In addition to his academic role, Mr. Kotadiya is the proud owner of Mudberry Pottery Studio, where he combines his teaching experience with hands-on artistry. Through the studio, he extends his artistic vision to the community, offering a space for creativity and learning. With a dedication to both education and art practice, Mr. Jaydeep Kotadiya continues to inspire and contribute to the world of ceramic art.
            </p>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col" style="width:960px; font-weight: bolder; background: transparent;" >

              <h3>Studio's timing are 9am - 6pm.</h3>
              <!-- <div class="img">
                <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Plan</a></h2>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
              </p> -->
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>Activities</h3>
          <p>We Offers 2 course that is based on user's requirments and Mr.Jaydeep Kotadiya will be you mentor which will help you to learn making these amazing mud's arts.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="margin-left: 10px;">
            <div class="portfolio-wrap">
              <figure>
                <img src="IMG_4977.png" style="height: 400px; width: 400px;"  class="img-fluid" alt="">
              </figure>
  
              <div class="portfolio-info">
                <h4><a href="/">ELEMENTRY LEVEL</a></h4>
                <P>The ongoing “Hand Building Techniques for Pottery” course is designed for
                  individuals with an eagerness to learn and a creative mindset. Participants will
                  explore hand building techniques to create diverse objects and pots using clay.
                  The course emphasizes creativity and experimentation, utilizing basic hand tools
                  and clay, eliminating the need for expensive equipment. This course is ideal for
                  students, aspiring sculptors, homemakers, or anyone seeking a fun and creative
                  experience. Ongoing efforts to add lectures on animal sculpture and mask-making
                  provide additional opportunities for participants to expand their artistic skills.</P>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="margin-left: 10px;">
            <div class="portfolio-wrap">
              <figure>
                <img src="card-IMG_4771.jpg" style="height: 400px; width: 400px;"  class="img-fluid" alt="">
              </figure>
  
              <div class="portfolio-info">
                <h4><a href="/">PROFESSIONAL LEVEL</a></h4>
                <P>The one-month Pottery and Ceramic Introduction Course offers a comprehensive
                  exploration of pottery wheel and hand-building techniques, including coiling,
                  slab building, and pinching. With three sessions per week, each lasting one hour,
                  participants will complete at least five pieces of work during the 12-session
                  course. Materials and tools are provided, and firing charges are based on the
                  produced work. Priced at ₹8000 rupees, the course caters to individuals of all skill
                  levels and interests, whether they are seeking a creative outlet, exploring pottery
                  for the first time, or looking to enhance their understanding of clay as a sculptural
                  material. The course schedule, excluding Wednesdays, ensures a consistent and
                  immersive learning experience</P>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  
    <!-- ======= Facts Section ======= -->
    <section id="facts">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Facts</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="10123" data-purecounter-duration="1" class="purecounter"></span>
            <p>Clients</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="421" data-purecounter-duration="1" class="purecounter"></span>
            <p>Art Works</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="1364" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hours Of Support</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
            <p>Hard Workers</p>
          </div>

        </div>

        <div class="facts-img">
          <img src="IMG_48888.jpg" alt="" class="img-fluid">
        </div>

      </div>
    </section><!-- End Facts Section -->

    
<section id="portfolio" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Gallery of Designs</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
      <!-- <div class=" col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div> -->
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_5003.png" style="height: 450px; width: 425px;"  class="img-fluid" alt="">
             </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_8481.png" style="height: 450px; width: 425px;" class="img-fluid" alt="">
             </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_4841.png" class="img-fluid" alt="">
             </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_5012.png" style="height: 325px; width: 100%;" class = "img-fluid" alt="">
              </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_8475.png"  style="height: 300px; width: 100%;" class="img-fluid" alt="">
             </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_8477.png" style="height: 325px; width: 100%;" class="img-fluid" alt="">
               </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="card-IMG_4771.jpg" style="height: 325px; width: 100%;"  class="img-fluid" alt="">
             </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="background IMG_8483.JPG" style="height: 325px; width: 100%;" class="img-fluid" alt="">
            </figure>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="IMG_8484.png" style="height: 300px; width: 100%;" class="img-fluid" alt="">
               </figure>
          </div>
        </div>

      </div>

      </div>
    </section>
    
<!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Amit Hirani</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <img src="#" class="quote-sign-left" alt="">
                  As a part of my IB CAS requirement, I did a course of pottery and ceramics at the mudberry studio in Surat. I learned and developed a lot of hand building techniques and also learned how to use a pottery wheel.
                  <img src="#" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Sara modi</h3>
                <h4>Designer</h4>
                <p>
                  <img src="#" class="quote-sign-left" alt="">
                  "Mudberry Studio is a creative haven with an enchanting ambiance, offering top-notch pottery workshops for all skill levels. The welcoming community and skilled guidance make it a 4.5/5 star experience!"
                  <img src="#" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p> 
                  <img src="#" class="quote-sign-left" alt="">
                  "Mudberry Studio crafts a magical pottery experience, blending skilled guidance, a vibrant community, and an enchanting atmosphere, it's a haven for unleashing your artistic potential."
                  <img src="#" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Dweep Modi</h3>
                <h4>Freelancer</h4>
                <p>
                  <img src="#" class="quote-sign-left" alt="">
                  Mudberry Studio captivates with its enchanting atmosphere and expert guidance, fostering creativity and a vibrant community for an exceptional pottery experience."
                  <img src="#" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="#" class="testimonial-img" alt="">
                <h3>Rajesh Ramani</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <img src="#" class="quote-sign-left" alt="">
                  "Mudberry Studio, a haven of creativity, blends expert guidance and a warm community spirit, offering an outstanding pottery experience that leaves an indelible mark on your artistic journey."
                  <img src="#" class="quote-sign-right" alt="">
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
   
   

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Reach Out to us through these mediums !</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <address>Sai Kutir Society,piplod Nearby hero showroom ,Surat ,Gujarat - 395007</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="bi bi-phone"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+91 9099747799">+91 9099747799</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="bi bi-envelope"></i>
              <h3>Email</h3>
              <p><a href="jaydeepkotadiya1994@vnsgu.ac.in">jaydeepkotadiya1994@vnsgu.ac.in</a></p>
            </div>
          </div>
          </div>
          
        </div>

        <div class="form">
          <form action="/contact" value=""method="POST" role="form" class="php-email-form">
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" name="yourname" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="youremail" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="yoursubject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="yourmessage" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {{>footer}}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <scri pt src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></scri>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  {{!-- <script src="assets/vendor/php-email-form/validate.js"></script> --}}

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  

</body>

</html>