<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mudberry Studio</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="Final Logo.jpg" rel="icon">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/components/swiper.min.css">
    <link rel="stylesheet" href="css/main.css">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  </head>

  <body>
    {{>navbar}}
    <main class="main">

      <section class="hero">
        <div class="container">
          <div class="hero-layout">
            <div class="hero-left width-1-1 width-3-5-sm">
                <div class="hero-textarea">
                  <h1 class="hero-title">Courses offered</h1>
                  <p class="hero-description">
                    Our professionals will teach you how to make beauty from clay. We’re the pros in our business and know everything about what we do. You will get unforgettable emotions, working with us. We have the newest equipment and the best teachers, who has a masters degree in it.
                  </p>
                  <div class="button-wrap">
                    <a href="/plans" class="button button-scroll">Choose a plan</a>
                  </div>
                </div>
            </div>
          </div>
        </div>     
        <figure class="hero-background">
          <img class="img" src="hero-pic.jpg" alt="Not found">
        </figure>
        <div class="hero-overlay"></div>
      </section>
      {{>footer}}

    </main>

      
      

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="js/components/swiper.min.js"></script>
    <script src="js/components/nav-item.js"></script>
    <script src="js/components/button-scroll.js"></script>
    <script src="js/components/dropdown.js"></script>
    <script src="js/main.js"></script>
  </body>
</html> 