<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>MUDBERRY STUDIO</h3>
            <p>Nestled on the edge of imagination and craftsmanship, the pottery studio stands as a sanctuary where the alchemy of earth and art converge. As you step through the weathered wooden door, a symphony of clay whispers greets you, beckoning the curious to embark on a journey of tactile enchantment. Sunlight filters through large windows, dappling the space with a warm glow that dances upon the myriad of ceramic creations lining the shelves like an army of silent sentinels.</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Sai Kutir Society <br>
              piplod , Nearby hero showroom<br>
              Surat ,Gujarat - 395007<br>
              <strong>Phone:</strong> +91 9009747799<br>
              <strong>Email:</strong> jaydeepkotadiya1994@vnsgu.ac.in<br>
            </p>

            <div class="social-links">
              <a href="https://www.instagram.com/mudberry_studio/" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Greetings, Mudberry Artisans! Immerse yourself in the artistry of clay with this month's newsletter from Mudberry Studio. Embark on a visual journey as we spotlight the inspired works of our featured artist, unveil the intricate details of our studio's creative process, and announce upcoming workshops that beckon both beginners and seasoned potters to the wheel.</p>
            <form action="/subscribe" method="post">
              <input type="email" name="subemail"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>MUDBERRY STUDIO</strong>. All Rights Reserved
      </div>
      <div class="credits">
      </div>
    </div>
  </footer><!-- End Footer -->