{{!-- <div style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

    <div style="background-color: #333; overflow: hidden;">
        <a href="#" style="float: left; display: block; color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none;">Logo</a>
        <div style="float: right;">
            <a href="/" style="color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; display: inline-block;">Home</a>
            <a href="/register" style="color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; display: inline-block;">Register</a>
            <a href="/login" style="color: #f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; display: inline-block;">Login</a>
        </div>
    </div>

</div>
 
 --}}



<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="/">Mudberry Studio</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="/">Home</a></li>
              <li><a class="nav-link scrollto" href="/aboutus">About</a></li>
              <li><a class="nav-link scrollto" href="#services">Activities</a></li>
              <li><a class="nav-link scrollto " href="#portfolio">Gallery</a></li>
              {{!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> --}}
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
              <li><a class="nav-link" href="/prebook">Courses</a></li>
              <li><a class="nav-link scrollto" href="/register">Register</a></li>
              <li><a class="nav-link scrollto" href="/login">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
        </div>
      </div>

    </div>
</header><!-- End Header -->
